<section class="blog" id="blog">
    <h3 class="uk-h3" style="display: inline-block;">
        Setting Up Vagrant and VirtualBox on Ubuntu
    </h3>
    <small class="uk-text-small uk-text-uppercase uk-text-muted">Friday the 14th September, 2018</small>
    <h4 class="mm-underlined">What is Vagrant?</h4>
    <p>
        According the to their <a href="https://www.vagrantup.com/intro/index.html">website</a> Vagrant is "...a tool
        for building and managing virtual machine environments in a single workflow.". So what good is that? We can use
        vagrant to quickly and easily spin up virtual machines to provide clean and consistent development environments.
        This (hopefully) means we can develop code on a stack that closely resembles the state of the remote server and
        we can share our environments between colleagues to ensure we are all playing in the same sandpit.
    </p>
    <h4>What is VirtualBox?</h4>
    <p>VirtualBox is a choice from a short list of virtual machine providers that vagrant can use to actually create the
        virtual machine. VirtualBox is free and if you are developing on a *nix based host machine its the way to
        go.
    </p>
    <h4>Installation</h4>
    <p>
        Installing on Ubuntu couldn't be easier. The first step is to install the VM provider VirtualBox:
        <code>$ sudo apt-get install virtualbox -y</code><br/>
        <code>$ virtualbox</code>
        All being well the VirtualBox GUI should launch. You can use this interface to manage existing VM's, delete
        stinky ones or force restarts and things like that. Generally though you shouldn't need to use the GUI so you
        can go ahead and kill the command and the window will close.
    </p>
    <p>
        The next step is to add Vagrant. Again this is a simple request to the repository:
        <code>$ sudo apt-get install vagrant -y</code><br/>
        <code>$ vagrant -v</code>
        <code>Vagrant 2.1.4</code>
        At the time of writing the latest version of vagrant is `2.1.4`.
    </p>
    <h4 class="mm-underlined">Next Steps</h4>
    <p>
        You are now setup and ready to go. If you would like to play around with initialising a simple Ubuntu VM then
        first create a directory to store your vagrant project and cd into it:
        <code>$ mkdir basic-box && cd basic-box</code><br/>
        <code>$ vagrant init ubuntu/xenial64</code><br/>
        This will take some time to download the machine image for Ubuntu and spin up the box. Once completed you can
        run the following commands from within your project directory.
        * If the VM is running you can SSH into it by simply running:
        <code>$ vagrant ssh</code><br/>
        * To shut it down you can run:
        <code>$ vagrant halt</code><br/>
        * To start it up again run:
        <code>$ vagrant up</code><br/>
        * To make it dead run:
        <code>$ vagrant destroy</code><br/>
    </p>
    <p class="note">
        Try to avoid `ctrl+c` while these commands are running or you will end up with a stinky box and will likely have
        to destroy it via the GUI and recreate it.
    </p>
    <p>Generally speaking you shouldn't need to setup your own vagrant projects. For most common use cases you will find
        pre-existing projects on github or the <a href="https://app.vagrantup.com/boxes/search">Vagrant Cloud</a> that
        you can simply clone and use out of the box. I have added a couple of examples below:</p>
    <ul>
        <li><a href="https://app.vagrantup.com/laravel/boxes/homestead">Laravel Homestead</a></li>
        <li><a href="https://github.com/imikemiller/elasticsearch-getting-started-1">Elasticsearch & Kibana</a></li>
    </ul>

    <div class="uk-divider-icon"></div>
    <!--<h5>More Like This</h5>
    <ul class="uk-list">
        <li class="uk-position-relative list-item">
            <span class="uk-h3">Elasticsearch: Getting Started on Ubuntu</span><br>
            <small class="uk-text-small uk-text-uppercase uk-text-muted">Monday 4th September, 2018</small>
            <span uk-icon="icon: chevron-right; ratio:3" class="list-chevron uk-visible@s"></span>
        </li>
        <li class="uk-position-relative list-item">
            <span class="uk-h3">Elasticsearch: Debugging Scripts in Laravel</span><br>
            <small class="uk-text-small uk-text-uppercase uk-text-muted">Monday 4th September, 2018</small>
            <span uk-icon="icon: chevron-right; ratio:3" class="list-chevron uk-visible@s"></span>
        </li>
        <li class="uk-position-relative list-item">
            <span class="uk-h3">Elasticsearch: Building Queries in Laravel</span><br>
            <small class="uk-text-small uk-text-uppercase uk-text-muted">Monday 4th September, 2018</small>
            <span uk-icon="icon: chevron-right; ratio:3" class="list-chevron uk-visible@s"></span>
        </li>
        <li class="uk-position-relative list-item">
            <span class="uk-h3">Elasticsearch: "More like this" search</span><br>
            <small class="uk-text-small uk-text-uppercase uk-text-muted">Monday 4th September, 2018</small>
            <span uk-icon="icon: chevron-right; ratio:3" class="list-chevron uk-visible@s"></span>
        </li>
    </ul>
    <hr class="uk-divider-icon uk-margin-medium">
    <div id="bio">
        <span class="uk-h1">Bio</span>
        <h2>Work History</h2>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
            comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
            Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
            The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>
        <h2>Technology</h2>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
            comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
            Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
            The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>
        <h2>Technology</h2>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
            comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
            Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
            The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>
        <code></code>
    </div>-->
</section>
