<!doctype html>
<html class="no-js" lang="">

<head>
    <title>MIKE MILLER | {{BLOG_TITLE}}</title>
    <meta name="tags" content="{{BLOG_TAGS}}" />
    <meta name="description" content="{{BLOG_SYNOPSIS}}" />
    <meta property="og:title" content="{{BLOG_TITLE}}" />
    <meta property="og:description" content="{{BLOG_SYNOPSIS}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{BLOG_URL}}" />
    <meta property="og:image" content="{{BLOG_IMG}}" />

    <!-- partial:../master-head.html -->
    <!-- partial -->

    <!-- partial:../blogs/{{PARTIAL_FILE}} -->
    <!-- partial -->

    <!-- partial:../master-foot.html -->
    <!-- partial -->
